In [229]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [230]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,$13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,$30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,$33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,$23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,$34.58,3908451377344,46,Urban

In [231]:
#  1. Get the total rides for each city type
ridestotal= pyber_data_df.groupby(["type"]).count()["ride_id"]

In [232]:
print(ridestotal)

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [233]:
# 2. Get the total drivers for each city type
driverstotal = city_data_df.groupby(["type"]).sum()["driver_count"]

In [234]:
print(driverstotal)

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [235]:
#  3. Get the total amount of fares for each city type
faretotal = pyber_data_df.groupby(["type"]).sum()["fare"]

In [236]:
print(faretotal)

type
Rural       $4,327.93
Suburban   $19,356.33
Urban      $39,854.38
Name: fare, dtype: float64

In [237]:
#  4. Get the average fare per ride for each city type. 
averager = (pyber_data_df.groupby(["type"]).sum()["fare"]) / (pyber_data_df.groupby(["type"]).count()["ride_id"])

In [238]:
print(averager)

type
Rural      $34.62
Suburban   $30.97
Urban      $24.53
dtype: float64

In [239]:
# 5. Get the average fare per driver for each city type. 
averaged = (pyber_data_df.groupby(["type"]).sum()["fare"]) / (pyber_data_df.groupby(["type"]).sum()["driver_count"])

In [240]:
print(averaged)

type
Rural      $8.06
Suburban   $2.26
Urban      $0.67
dtype: float64

In [241]:
#  6. Create a PyBer summary DataFrame. 
                                                                                                                                                                                            

pyber_summary_df = pd.DataFrame(
          {"Total Rides": ridestotal,
          "Total Drivers": driverstotal,
          "Total Fares": faretotal,
          "Average Fare Per Ride": averager,
          "Average Fare Per Driver": averaged,
          })
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
type,,,,,
Rural,125,78,"$4,327.93",$34.62,$8.06
Suburban,625,490,"$19,356.33",$30.97,$2.26
Urban,1625,2405,"$39,854.38",$24.53,$0.67

In [242]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
Rural,125,78,"$4,327.93",$34.62,$8.06
Suburban,625,490,"$19,356.33",$30.97,$2.26
Urban,1625,2405,"$39,854.38",$24.53,$0.67

In [243]:
#  8. Format the columns.
# Format the columns.
pd.options.display.float_format = '${:,.2f}'.format
pyber_summary_df = pd.DataFrame(
          {"Total Rides": ridestotal,
          "Total Drivers": driverstotal,
          "Total Fares": faretotal,
          "Average Fare Per Ride": averager,
          "Average Fare Per Driver": averaged,
          })
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
Rural,125,78,"$4,327.93",$34.62,$8.06
Suburban,625,490,"$19,356.33",$30.97,$2.26
Urban,1625,2405,"$39,854.38",$24.53,$0.67

In [267]:
# 1. Read the merged DataFrame
#  for each date where the indices are the city type and date.

In [269]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
df = pyber_data_df.groupby(["type", "date"]).sum()[["fare"]]
df

                            fare
type  date
Rural 2019-01-01 09:45:36 $43.69
      2019-01-02 11:18:32 $52.12
      2019-01-03 19:51:01 $19.90
      2019-01-04 03:31:26 $24.88
      2019-01-06 07:38:40 $47.33
...                          ...
Urban 2019-05-08 04:20:00 $21.99
      2019-05-08 04:39:49 $18.45
      2019-05-08 07:29:01 $18.55
      2019-05-08 11:38:35 $19.77
      2019-05-08 13:10:18 $18.04

[2375 rows x 1 columns]

In [265]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
df = df.reset_index()
df

       type                 date   fare
0     Rural  2019-01-01 09:45:36 $43.69
1     Rural  2019-01-02 11:18:32 $52.12
2     Rural  2019-01-03 19:51:01 $19.90
3     Rural  2019-01-04 03:31:26 $24.88
4     Rural  2019-01-06 07:38:40 $47.33
...     ...                  ...    ...
2370  Urban  2019-05-08 04:20:00 $21.99
2371  Urban  2019-05-08 04:39:49 $18.45
2372  Urban  2019-05-08 07:29:01 $18.55
2373  Urban  2019-05-08 11:38:35 $19.77
2374  Urban  2019-05-08 13:10:18 $18.04

[2375 rows x 3 columns]

In [16]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [17]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [18]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [19]:
# 7. Check that the datatype for the index is datetime using df.info()

In [20]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [21]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')